<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>history</title>
    </head>
    <body>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl=> { %>
                    <tr>
                        <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                            <td><a href="<%= shortUrl.short %>"><%=
                                        shortUrl.short %></a></td>
                                <td><%= shortUrl.clicks %></td>
                                </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </body>
                    </html>











                    <!--  -->


                    <% if(shortUrls != null){ %>
                        <table>
                            <thead>
                                <td>full link</td>
                                <td>short link</td>
                                <td>Clicks</td>
                            </thead>
                            <% for (let x in shortUrls) { %>


                                <tr>
                                    <td>
                                        <a href="<%= shortUrls[x].full %>"><%=
                                                shortUrls[x].full %></a>
                                        </td>
                                        <td>
                                            <a href="<%= shortUrls[x].short %>"><%=
                                                    shortUrls[x].short %></a>
                                            </td>
                                            <td>
                                                <%= shortUrls[x].clicks %>
                                                </td>
                                            </tr>


                                            <% } %>
                                            </table>
                                            <% } %>